/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");


/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --hue: 174;
  --sat: 63%;
  --first-color: hsl(var(--hue), var(--sat), 40%);
  --first-color-alt: hsl(var(--hue), var(--sat), 36%);
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 8%, 35%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #015806;

  /*========== Font and typography ==========*/
  --body-font: 'Open Sans', sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --tiny-font-size: .625rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem;
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: 1.5rem;
}

.section__height {
  height: 100vh;
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--container-color);
  z-index: var(--z-fixed);
  transition: .4s;
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__img {
  width: 32px;
  border-radius: 50%;
}



.nav__logo {
  color: #ffffff; /* Blanco */
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--container-color);
    box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    display: grid;
    align-content: center;
    border-radius: 1.25rem 1.25rem 0 0;
    transition: .4s;
  }
}

.nav__list, 
.nav__link {
  display: flex;
}

.nav__link {
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  color: var(--title-color);
  font-weight: 600;
}

.nav__list {
  justify-content: space-around;
}

.nav__name {
  font-size: var(--tiny-font-size);
  color: #ffffff; /* Blanco */
  /* display: none;*/ /* Minimalist design, hidden labels */
}

.nav__icon {
  font-size: 1.5rem;
}

/*Active link*/
.active-link {
  position: relative;
  color: #ffffff; /* Blanco */
  transition: .3s;
}

/* Minimalist design, active link */
/* .active-link::before{
  content: '';
  position: absolute;
  bottom: -.5rem;
  width: 4px;
  height: 4px;
  background-color: var(--first-color);
  border-radius: 50%;
} */

/* Change background header */
.scroll-header {
  box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
/* Remove if you choose, the minimalist design */
@media screen and (max-width: 320px) {
  .nav__name {
    display: none;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .nav__list {
    justify-content: center;
    column-gap: 3rem;
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }
  .section {
    padding: 7rem 0 2rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem); /* 4.5rem */
  }
  .nav__img {
    display: none;
  }
  .nav__icon {
    display: none;
  }
  .nav__name {
    font-size: var(--normal-font-size);
    /* display: block; */ /* Minimalist design, visible labels */
  }
  .nav__link:hover {
    color: var(--first-color);
  }

  /* First design, remove if you choose the minimalist design */
  .active-link::before {
    content: '';
    position: absolute;
    bottom: -.75rem;
    width: 4px;
    height: 4px;
    background-color: var(--first-color);
    border-radius: 50%;
  }

  /* Minimalist design */
  /* .active-link::before{
      bottom: -.75rem;
  } */
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}













.hero {
  background-image: url(https://st4.depositphotos.com/27925096/31616/i/950/depositphotos_316168734-stock-photo-green-leaf-wall-texture-background.jpg);
  padding: 240px 0;
  
  
}

.hero-logo {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}

.hero-logo img {
  width: 100px;
  height: auto;
}

.hero-logo p {
  margin: 0;
  padding-left: 1rem;
}



#tienda-contenedor {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 10px;
}

#tienda-contenedor .item {
  background-color: #f5f5f5;
  border: solid 1px #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: #4e4a47 2px 3px 5px;
}

.imagen {
  width: 100%;
  /* height: 200px; */
  object-fit: cover;
  aspect-ratio: 1/1;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.imagen:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

#carrito-compra-contenedor {
  position: absolute;
  background-color: #000000;
  right: 0;
  width: 300px;
  border: solid 1px #ccc;
  border-radius: 10px;
  padding: 10px;
}

.mostrar {
  display: block;
}

.ocultar {
  display: none;
}

.item .titulo {
  font-weight: bold;
}

.item .precio {
  font-weight: bold;
  color: rgb(2, 97, 10);
}

.item div {
  padding: 5px 0;
}

.total {
  padding: 10px 0;
  font-weight: bold;
  font-size: 20px;
}

button {
  background-color: #089e28;
  color: #fff;
  border: 1px solid #ffffff;

  padding: 10px;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.3s;
  letter-spacing: 2px;

  box-shadow: #000000 1px 2px 2px;
}

button:hover {
  background-color: #333333;
  border-color: #333333;
  color: #ffffff;
}

div div button i {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 20px;
}

.acciones .agregaruno {
  /* background-color: #b46936; */
  /* color: #fff; */
  /* border: none; */
  width: auto;
  height: 35px;
  border-radius: 50%;
  /* cursor: pointer; */
  /* box-shadow: #4e4e4d 1px 2px 2px; */
}

.acciones .removeruno {
  /* background-color: #b46936; */
  /* color: #fff; */
  /* border: none; */
  width: auto;
  height: 35px;
  border-radius: 50%;
  /* cursor: pointer; */
  /* box-shadow: #4e4e4d 1px 2px 2px; */
}

.acciones .removertodo {
  /* background-color: #b46936; */
  /* color: #fff; */
  /* border: none; */
  width: auto;
  height: 35px;
  border-radius: 50%;
  /* cursor: pointer; */
  /* box-shadow: #4e4e4d 1px 2px 2px; */
}

.carrito-vacio {
  text-align: center;
  padding: 20px;
}

.carrito-vacio i {
  font-size: 50px;
  color: #134bac;
  transition: all 0.5s ease-in-out;
}

/*:::::Pie de Pagina*/
.pie-pagina{
  width: 100%;
  background-color: #011101;
}
.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
  width: 250px;
}
.pie-pagina .grupo-1 .box h2{
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
  color: #efefef;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #198127;
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
  color: rgb(0, 36, 0);
}
.pie-pagina .grupo-2{
  background-color: #000000;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo-2 small{
  font-size: 15px;
}
@media screen and (max-width:800px){
  .pie-pagina .grupo-1{
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap:30px;
      padding: 35px 0px;
  }
}
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smooth: antialiased;
  text-rendering: optimizeLegibility;
}

.containercontact {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"]
#contact input[type="password"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact input[type="password"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact input[type="password"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

#pageOne {
  font-family:Sansita;
  background-color:IndianRed;
  color:white;
  padding-top: 15em;
  padding-bottom:17em;

}

































.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1em;
  max-width: 1100px;
  margin: 0 auto;
  min-height: 100vh;
}

.cards {
  box-sizing: border-box;
}

.card {
  width: 17em;
  background: #fff;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2)
              0px 7px 29px 0px;
  position: relative;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  margin: 2em;
}

.card img {
   width: 16em;
   position: absolute;
   top: 6em;
   right: -2em;
   filter: drop-shadow(0px 10px 25px rgba(0, 0, 0, 0.5));
}

.content {
  padding: 1em;
}

.card h2 {
  color: #fff;
  margin: 0 0 0 0.8em;
}

.banner {
  height: 15em;
  background: linear-gradient(
      90deg, 
      #0e6d02 90%,
      #ffffff88 100%
  );
  padding-top: 3em;
  border-radius: 10px 10px 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sizes ul {
  list-style: none;
}

.sizes .size {
  display: inline-block;
  margin: 0 0.5em;
  cursor: pointer;
  font-weight: 700;
}

.size:hover {
  color: #ccc;
}

.active {
  color: #ccc;
}

.details small {
  display: block;
  line-height: 24px;
  letter-spacing: 1px;
  font-size: 0.8em;
}


@media only screen and (max-width: 768px) {
  .cards {
    justify-content: center; /* Centra las tarjetas */
  }

  .card {
    width: calc(100% - 2em); /* Ocupa todo el ancho disponible con espacio entre ellas */
    margin: 1em; /* Espacio entre las tarjetas */
  }

  .card img {
    width: 100%; /* La imagen ocupa todo el ancho de la tarjeta */
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    margin: 0;
    border-radius: 10px; /* Esquinas redondeadas en todos los lados */
  }
}






.container-form {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Utilizamos auto-fit para que los elementos se ajusten automáticamente */
  grid-gap: 30px;
  margin-top: 90px;
}

.container-form h2 {
  margin-bottom: 15px;
  font-size: 30px; /* Reducimos el tamaño de la fuente para pantallas pequeñas */
}

.container-form p {
  font-size: 16px; /* Reducimos el tamaño de la fuente para pantallas pequeñas */
  line-height: 1.6;
  margin-bottom: 20px; /* Reducimos el espacio entre los párrafos */
}

.container-form a {
  font-size: 16px; /* Reducimos el tamaño de la fuente para pantallas pequeñas */
  display: inline-block;
  text-decoration: none;
  width: 100%;
  margin-bottom: 15px;
  color: black;
  font-weight: 700;
}

.container-form a i {
  color: rgb(0, 128, 6);
  margin-right: 10px;
}

.container-form form {
  border: 2px solid #053b00;
  padding: 20px;
  border-radius: 8px;
}

.container-form form .campo, textarea {
  width: 100%;
  padding: 15px 10px;
  font-size: 16px;
  border: 1px solid #dbdbdb;
  margin-bottom: 20px;
  border-radius: 3px;
  outline: 0px;
}

.container-form form textarea {
  width: 100%;
  min-height: 140px;
  max-height: 150px;
}

.container-form .btn-enviar {
  padding: 15px;
  font-size: 16px;
  border: none;
  outline: 0px;
  background: rgb(0, 128, 6);
  color: white;
  border-radius: 3px;
  cursor: pointer;
  transition: all 300ms ease;
}

.container-form .btn-enviar:hover {
  background: #00420e;
}

/* Media queries para ajustar estilos en pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .container-form {
    grid-template-columns: 1fr; /* Cambiamos a una sola columna en pantallas pequeñas */
  }

  .container-form h2 {
    font-size: 25px; /* Reducimos el tamaño de la fuente para pantallas muy pequeñas */
  }
}









/*login*/

main{
  width: 100%;
  padding: 20px;
  margin: auto;
  margin-top: 100px;
}

.contenedor__todo{
  width: 100%;
  max-width: 800px;
  margin: auto;
  position: relative;
}

.caja__trasera {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgb(0, 59, 0); /* Verde intenso sin transparencia */
}

.caja__trasera div{
  margin: 100px 40px;
  color: white;
  transition: all 500ms;
}


.caja__trasera div p,
.caja__trasera button{
  margin-top: 30px;
}

.caja__trasera div h3{
  font-weight: 400;
  font-size: 26px;
}

.caja__trasera div p{
  font-size: 16px;
  font-weight: 300;
}

.caja__trasera button{
  padding: 10px 40px;
  border: 2px solid #fff;
  font-size: 14px;
  background: transparent;
  font-weight: 600;
  cursor: pointer;
  color: white;
  outline: none;
  transition: all 300ms;
}

.caja__trasera button:hover{
  background: #fff;
  color: rgba(0, 66, 11, 0.5);
}

/*Formularios*/

.contenedor__login-register{
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 380px;
  position: relative;
  top: -185px;
  left: 10px;

  /*La transicion va despues del codigo JS*/
  transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor__login-register form{
  width: 100%;
  padding: 80px 20px;
  background: rgb(230, 230, 230);
  position: absolute;
  border-radius: 20px;
}

.contenedor__login-register form h2{
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: rgb(0, 58, 0);
}

.contenedor__login-register form input{
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  background: #F2F2F2;
  font-size: 16px;
  outline: none;
}

.contenedor__login-register form button{
  padding: 10px 40px;
  margin-top: 40px;
  border: none;
  font-size: 14px;
  background: rgb(0, 58, 0);
  font-weight: 600;
  cursor: pointer;
  color: white;
  outline: none;
}




.formulario__login{
  opacity: 1;
  display: block;
}
.formulario__register{
  display: none;
}



@media screen and (max-width: 850px){

  main{
      margin-top: 50px;
  }

  .caja__trasera{
      max-width: 350px;
      height: 300px;
      flex-direction: column;
      margin: auto;
  }

  .caja__trasera div{
      margin: 0px;
      position: absolute;
  }


  /*Formularios*/

  .contenedor__login-register{
      top: -10px;
      left: -5px;
      margin: auto;
  }

  .contenedor__login-register form{
      position: relative;
  }
}

