{% extends 'core/base2.html' %}
{% load static %}

{% block contenido %}   

<main>
    
    <form enctype="multipart/form-data" method="POST" autocomplete="off">
        {% csrf_token %}
        <div class="tablita">
            <h2>Agregar Usuarios</h2>
        </div>
        <br/>
        <br/>
        <div class="caja">
            <label for="username">Nombre completo</label> 
            <input name="username" type="text" id="username" placeholder="Escriba aquí" pattern="[0-9a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+" title="" required>
            <br/>
            <label for="first_name">Nombre</label> 
            <input name="first_name" type="text" id="first_name" placeholder="Escriba aquí" pattern="[0-9a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+" title="" required>
            <br/>
            <label for="email">Email</label> 
            <input name="email" type="email" id="email" placeholder="Escriba aquí"  title="" required>
            <br/>
            <label for="password">Contraseña</label> 
            <input name="password" type="password" id="password" placeholder="Escriba aquí" title="" required>
            </div>
        <br/>
        <button class="submit" type="submit">Agregar
        </button>
        <table class="tabla" id="tabla">
            <thead>
              <tr>
                <th>ID</th> 
                <th>Nombre completo</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.id}}</td>
                    <td>{{ usuario.username }}</td>
                    <td>{{ usuario.first_name }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>
                      {% if usuario.pk %}

                        <a href="{% url 'editar_usuario' usuario.pk %}" class="btn btn-editar">Editar</a>
                        <a href="{% url 'eliminar_usuario' usuario.pk %}" class="btn btn-eliminar">Eliminar</a>
                        
                      {% else %}
                          <span>No válido</span>
                      {% endif %}
                    </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
    </form>

</main>
{% endblock contenido %}